{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block seo %}
{# This value is matched by the config.extra.menu.main->section #}
{% set_global current_section = 'vehicles' %}
{{ super() }}
{% endblock seo %}

{% block body %}
{% set page_class = "blog single" %}
{% endblock body %}

{% block header %}
{{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8 py-5">
        <article>
          <h1 class="text-center">{{ page.title }}</h1>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for asset in page.assets -%}
              {%- if asset is containing("gallery") -%}
              {%- if asset is containing("-1.") -%}
              {% set active = "active" %}
              {% else %}
              {% set active = "" %}
              {%- endif %}
              <div class="carousel-item {{active}}">
                {% set url = get_url(path=asset) %}
                <img src="{{url}}" class="d-block img-fluid rounded" alt="galleries">
              </div>
              {%- endif %}
              {%- endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          {% if page.extra.has_detail_images %}
          <div class="row">
            {% for asset in page.assets -%}
            {%- if asset is containing("detail") -%}
            <div class="col-4">
              {% set url = get_url(path=asset) %}
              <img src="{{url}}" class="w-100 shadow-1-strong rounded mb-4" alt="details" />
            </div>
            {%- endif %}
            {%- endfor %}
          </div>
          {% endif %}

          <p class="lead">Specifications/Features</p>
          <div class="detail">
            <table>
              <tbody>
                <tr>
                  <th scope="row">Motor</th>
                  <td>{{page.extra.Motor}}</td>
                </tr>
                <tr>
                  <th scope="row">Motor Type</th>
                  <td>{{page.extra.Motor_Type}}</td>
                </tr>
                <tr>
                  <th scope="row">Controller</th>
                  <td>{{page.extra.Controller}}</td>
                </tr>
                <tr>
                  <th scope="row">Top Speed</th>
                  <td>{{page.extra.Top_Speed}}</td>
                </tr>
                <tr>
                  <th scope="row">Battery (Weight_KGS)</th>
                  <td>{{page.extra.Battery_Weight_KGS}}</td>
                </tr>
                <tr>
                  <th scope="row">Battery Type</th>
                  <td>{{page.extra.Battery_Type}}</td>
                </tr>
                <tr>
                  <th scope="row">Range per charge</th>
                  <td>{{page.extra.Range_per_charge}}</td>
                </tr>
                <tr>
                  <th scope="row">Body Frame</th>
                  <td>{{page.extra.Body_Frame}}</td>
                </tr>
                <tr>
                  <th scope="row">Transmission</th>
                  <td>{{page.extra.Transmission}}</td>
                </tr>
                <tr>
                  <th scope="row">Charging Time</th>
                  <td>{{page.extra.Charging_Time}}</td>
                </tr>
                <tr>
                  <th scope="row">Brake System (Front & Rear)</th>
                  <td>{{page.extra.Brake_System}}</td>
                </tr>
                <tr>
                  <th scope="row">Brake Operation</th>
                  <td>{{page.extra.Brake_Operation}}</td>
                </tr>
                <tr>
                  <th scope="row">Tyre</th>
                  <td>{{page.extra.Tyre}}</td>
                </tr>
                <tr>
                  <th scope="row">Climb ability</th>
                  <td>{{page.extra.Climb_ability}}</td>
                </tr>
                <tr>
                  <th scope="row">Suspension</th>
                  <td>{{page.extra.Suspension}}</td>
                </tr>
                <tr>
                  <th scope="row">Net Weight (kg)</th>
                  <td>{{page.extra.Net_Weight}}</td>
                </tr>
                <tr>
                  <th scope="row">Max Payload (kg)</th>
                  <td>{{page.extra.Max_Payload}}</td>
                </tr>
                <tr>
                  <th scope="row">Color options</th>
                  <td>{{page.extra.Color_options}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}